#menu {
    position: absolute;
    /*background-color: #000000;*/
    opacity: 0.8;
    top:0%;
    left:0%;
    z-index: 9000;
}

.bally_kz {
    background:transparent url('../img/menu/kz/ball.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.bally_rus {
    background:transparent url('../img/menu/rus/ball.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

#bally {
    position: absolute;

    left: 7.2%;
    top: 4.3%;
    width: 29.0%;
    height: 23.5%;
    text-align: center;
}

#bally_text {
    font-family: "calibri";
    font-size: 118px;
    position: absolute;
    top: -25%;
    width: 100%;
}

.menu_bg_side_rus {
    background:transparent url('../img/menu/rus/bg_side.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.menu_bg_side_kz {
    background:transparent url('../img/menu/kz/bg_side_kz.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

#menu_bg_side {
    position: absolute;
    left: 7.2% ;
    top: 0.0%;
    width: 29.1%;
    height: 100%;
}

.start_disabled {
    background:transparent url('../img/menu/disabled/start_disabled.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.start_green {
    background:transparent url('../img/menu/start_green.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.start_red {
    background:transparent url('../img/menu/start_red.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.start_pressed {
    background:transparent url('../img/menu/pressed/start_pressed.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.question_disabled {
    background:transparent url('../img/menu/disabled/question_disabled.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.question_green {
    background:transparent url('../img/menu/question_green.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.question_red {
    background:transparent url('../img/menu/question_red.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.question_pressed {
    background:transparent url('../img/menu/pressed/question_pressed.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.sound_green {
    background:transparent url('../img/menu/sound_green.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.sound_muted {
    background:transparent url('../img/menu/disabled/sound_red.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.sound_muted_pressed {
    background:transparent url('../img/menu/disabled/sound_red_pressed.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.sound_pressed {
    background:transparent url('../img/menu/pressed/sound_pressed.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

#start {
    position: absolute;

    left:14.1%;
    top:32.2%;

    width: 15.3%;
    height: 15.3%;
}

#question {
    position: absolute;
    left:14.1% ;
    top: 50.1% ;
    width: 15.3%;
    height: 15.3%;
}

#sound {
    position: absolute;
    left:14.1% ;
    top:67.8% ;
    width: 15.3%;
    height: 15.3%;
}

.level_button_green_1_rus{
    background:transparent url('../img/menu/rus/level1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_1_rus {
    background:transparent url('../img/menu/rus/level_red_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_1_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_1_kz{
    background:transparent url('../img/menu/kz/level1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_1_kz {
    background:transparent url('../img/menu/kz/level_red_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_1_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_1 {
    position: absolute;
    left:41.8% ;
    top:6.7% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_2_rus {
    background:transparent url('../img/menu/rus/level2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_2_rus {
    background:transparent url('../img/menu/rus/level_red_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_2_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_2_kz {
    background:transparent url('../img/menu/kz/level2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_2_kz {
    background:transparent url('../img/menu/kz/level_red_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_2_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_2 {
    position: absolute;
    left:41.8% ;
    top:18.3% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_3_kz {
    background:transparent url('../img/menu/kz/level3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_3_kz {
    background:transparent url('../img/menu/kz/level_red_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_3_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_3_rus {
    background:transparent url('../img/menu/rus/level3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_3_rus {
    background:transparent url('../img/menu/rus/level_red_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_3_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_3 {
    position: absolute;
    left:41.8% ;
    top:29.4% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_4_kz {
    background:transparent url('../img/menu/rus/level4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_4_kz {
    background:transparent url('../img/menu/rus/level_red_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_4_kz {
    background:transparent url('../img/menu/pressed/rus/level_pressed_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_4_rus {
    background:transparent url('../img/menu/rus/level4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_4_rus {
    background:transparent url('../img/menu/rus/level_red_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_4_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_4 {
    position: absolute;
    left:41.8% ;
    top:40.5% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_5_kz {
    background:transparent url('../img/menu/kz/level5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_5_kz {
    background:transparent url('../img/menu/kz/level_red_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_5_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_5_rus {
    background:transparent url('../img/menu/rus/level5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_5_rus {
    background:transparent url('../img/menu/rus/level_red_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_5_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_5 {
    position: absolute;
    left:41.8% ;
    top:51.4% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_6_kz {
    background:transparent url('../img/menu/kz/level6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_6_kz {
    background:transparent url('../img/menu/kz/level_red_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_6_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_6_rus {
    background:transparent url('../img/menu/rus/level6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_6_rus {
    background:transparent url('../img/menu/rus/level_red_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_6_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_6 {
    position: absolute;
    left:41.8% ;
    top:62.4% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_7_kz {
    background:transparent url('../img/menu/kz/level7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_7_kz {
    background:transparent url('../img/menu/kz/level_red_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_7_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_7_rus {
    background:transparent url('../img/menu/rus/level7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_7_rus {
    background:transparent url('../img/menu/rus/level_red_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_7_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_7 {
    position: absolute;
    left:41.8% ;
    top:73.7% ;
    width: 51.2%;
    height: 9.6%;
}

.level_button_green_8_kz {
    background:transparent url('../img/menu/kz/level8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_8_kz {
    background:transparent url('../img/menu/kz/level_red_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_8_kz {
    background:transparent url('../img/menu/pressed/kz/level_pressed_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.level_button_green_8_rus {
    background:transparent url('../img/menu/rus/level8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_red_8_rus {
    background:transparent url('../img/menu/rus/level_red_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.level_button_pressed_8_rus {
    background:transparent url('../img/menu/pressed/rus/level_pressed_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#level_button_8 {
    position: absolute;
    left:41.8% ;
    top:84.5% ;
    width: 51.2%;
    height: 9.6%;
}

#blackscreen{
    background-color: #000; /* Чёрный фон */
    height: 100%; /* Высота максимальна */
    left: 0; /* Нулевой отступ слева */
    opacity: 0.8; /* Степень прозрачности */
    position: fixed; /* Фиксированное положение */
    top: 0; /* Нулевой отступ сверху */
    width: 100%; /* Ширина максимальна */
    z-index: 5000; /* Заведомо быть НАД другими элементами */
}