<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Игра 2</title>
    <link rel="stylesheet" href="css/game.css">
    <link rel="stylesheet" href="css/pole.css">
    <link rel="stylesheet" href="../css/cursor.css">

    <script language="JavaScript" src="../libs/jquery-1.11.0.min.js"></script>
    <script language="JavaScript" src="../libs/jquery-ui.js"></script>

    <script src="../libs/draggabilly.pkgd.min.js"></script>
    <script src="../libs/animateSprite/scripts/jquery.animateSprite.js"></script>
    <script language="JavaScript" src="../libs/angular.min.js"></script>

    <script type="text/javascript" src="../libs/snap.svg-min.js"></script>
    <script type="text/javascript" src="../libs/jquery.polartimer.js"></script>

    <script language="JavaScript" src="../js/soundSystem.js"></script>
    <script language="JavaScript" src="../js/tools.js"></script>

    <script language="JavaScript" src="../js/resizer.js"></script>
    <script language="JavaScript" src="js/main.js"></script>
    <script language="JavaScript" src="../js/ngTouchEvents.js"></script>
</head>
<body ng-app="game1" ng-controller="GameController as game" ng-init="initEverything()">

<div id="main">
    <div id="istochniki" ng-show="showingIstochniki">
        <button ng-click="titulkaShowing = true">Назад</button>
    </div>
    <div id="titulka" ng-show="titulkaShowing">
        <div id="symbols_0"></div>
        <div id="box_0"></div>
        <div id="titulka_1" ng-class="titulkaClass(1)" ng-mouseover="titulkaMouseOver(1)" ng-mouseleave="titulkaMouseLeave(1)" ng-click="titulkaClick(1)"></div>
        <div id="titulka_2" ng-class="titulkaClass(2)" ng-mouseover="titulkaMouseOver(2)" ng-mouseleave="titulkaMouseLeave(2)" ng-click="titulkaClick(2)"></div>
        <div id="titulka_3" ng-class="titulkaClass(3)" ng-mouseover="titulkaMouseOver(3)" ng-mouseleave="titulkaMouseLeave(3)" ng-click="titulkaClick(3)"></div>
    </div>

    <div id="pole_chudes" ng-show="showPoleChudes" ng-class="{'bg2_zast': zastavka, 'bg2': !zastavka}">
        <button ng-click="zastavka = false" ng-show="zastavka">Далее</button>

        <div ng-show="!zastavka">
            <div id="task_pole" ng-show="showTaskPole" ng-class="turTaskImgClass()"></div>

            <div id="hint_pole1" ng-show="turDone1 && turNumber == 1">Ca(OH)<sub>2</sub></div>
            <div id="hint_pole2" ng-show="turDone2 && turNumber == 2">H<sub>2</sub>SO<sub>4</sub></div>
            <div id="hint_pole3" ng-show="turDone3 && turNumber == 3">Hg</div>
            <div id="hint_pole4" ng-show="turDone4 && turNumber == 4">Mr(Hg<sub>2</sub>O) = 100</div>

            <div id="wheel"></div>
            <div id="tur_number">{{turText[turNumber - 1]}}</div>
            <div id="marks_pole">{{marksPole}}</div>
            <div id="white_cells"></div>

            <div ng-show="turNumber == 1" >
                <input type="text" size="1" id="tur1letter1" class="cell_2_2 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[0]">
                <input type="text" size="1" id="tur1letter2" class="cell_2_3 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[1]">
                <input type="text" size="1" id="tur1letter3" class="cell_2_4 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[2]">
                <input type="text" size="1" id="tur1letter4" class="cell_2_5 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[3]">
                <input type="text" size="1" id="tur1letter5" class="cell_2_6 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[4]">
                <input type="text" size="1" id="tur1letter6" class="cell_2_7 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[5]">
                <input type="text" size="1" id="tur1letter7" class="cell_2_8 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[6]">
                <input type="text" size="1" id="tur1letter8" class="cell_2_9 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[7]">
                <input type="text" size="1" id="tur1letter9" class="cell_2_10 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[8]">

                <input type="text" size="1" id="tur1letter10" class="cell_3_3 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[9]">
                <input type="text" size="1" id="tur1letter11" class="cell_3_4 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[10]">
                <input type="text" size="1" id="tur1letter12" class="cell_3_5 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[11]">
                <input type="text" size="1" id="tur1letter13" class="cell_3_6 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[12]">
                <input type="text" size="1" id="tur1letter14" class="cell_3_7 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[13]">
                <input type="text" size="1" id="tur1letter15" class="cell_3_8 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[14]">
                <input type="text" size="1" id="tur1letter16" class="cell_3_9 inputs1 letter_width tur_inputs" ng-show="!letterDoneTur1[15]">

                <div id="tur1cardsletter1" ng-show="letterDoneTur1[0]" class="cards_2_2 cards_animation"></div>
                <div id="tur1cardsletter2" ng-show="letterDoneTur1[1]" class="cards_2_3 cards_animation"></div>
                <div id="tur1cardsletter3" ng-show="letterDoneTur1[2]" class="cards_2_4 cards_animation"></div>
                <div id="tur1cardsletter4" ng-show="letterDoneTur1[3]" class="cards_2_5 cards_animation"></div>
                <div id="tur1cardsletter5" ng-show="letterDoneTur1[4]" class="cards_2_6 cards_animation"></div>
                <div id="tur1cardsletter6" ng-show="letterDoneTur1[5]" class="cards_2_7 cards_animation"></div>
                <div id="tur1cardsletter7" ng-show="letterDoneTur1[6]" class="cards_2_8 cards_animation"></div>
                <div id="tur1cardsletter8" ng-show="letterDoneTur1[7]" class="cards_2_9 cards_animation"></div>
                <div id="tur1cardsletter9" ng-show="letterDoneTur1[8]" class="cards_2_10 cards_animation"></div>

                <div id="tur1cardsletter10" ng-show="letterDoneTur1[9]" class="cards_3_3 cards_animation"></div>
                <div id="tur1cardsletter11" ng-show="letterDoneTur1[10]" class="cards_3_4 cards_animation"></div>
                <div id="tur1cardsletter12" ng-show="letterDoneTur1[11]" class="cards_3_5 cards_animation"></div>
                <div id="tur1cardsletter13" ng-show="letterDoneTur1[12]" class="cards_3_6 cards_animation"></div>
                <div id="tur1cardsletter14" ng-show="letterDoneTur1[13]" class="cards_3_7 cards_animation"></div>
                <div id="tur1cardsletter15" ng-show="letterDoneTur1[14]" class="cards_3_8 cards_animation"></div>
                <div id="tur1cardsletter16" ng-show="letterDoneTur1[15]" class="cards_3_9 cards_animation"></div>

                <div id="tur1cardslettertext1" ng-show="letterDoneTur1[0]"  class="cell_2_2 black_font_color tur_letters">Г</div>
                <div id="tur1cardslettertext2" ng-show="letterDoneTur1[1]"  class="cell_2_3 black_font_color tur_letters" >И</div>
                <div id="tur1cardslettertext3" ng-show="letterDoneTur1[2]"  class="cell_2_4 black_font_color tur_letters">Д</div>
                <div id="tur1cardslettertext4" ng-show="letterDoneTur1[3]"  class="cell_2_5 black_font_color tur_letters">Р</div>
                <div id="tur1cardslettertext5" ng-show="letterDoneTur1[4]"  class="cell_2_6 black_font_color tur_letters">О</div>
                <div id="tur1cardslettertext6" ng-show="letterDoneTur1[5]"  class="cell_2_7 black_font_color tur_letters">К</div>
                <div id="tur1cardslettertext7" ng-show="letterDoneTur1[6]"  class="cell_2_8 black_font_color tur_letters">С</div>
                <div id="tur1cardslettertext8" ng-show="letterDoneTur1[7]"  class="cell_2_9 black_font_color tur_letters">И</div>
                <div id="tur1cardslettertext9" ng-show="letterDoneTur1[8]"  class="cell_2_10 black_font_color tur_letters">Д</div>

                <div id="tur1cardslettertext10" ng-show="letterDoneTur1[9]"  class="cell_3_3 black_font_color tur_letters">К</div>
                <div id="tur1cardslettertext11" ng-show="letterDoneTur1[10]"  class="cell_3_4 black_font_color tur_letters">А</div>
                <div id="tur1cardslettertext12" ng-show="letterDoneTur1[11]"  class="cell_3_5 black_font_color tur_letters">Л</div>
                <div id="tur1cardslettertext13" ng-show="letterDoneTur1[12]"  class="cell_3_6 black_font_color tur_letters">Ь</div>
                <div id="tur1cardslettertext14" ng-show="letterDoneTur1[13]"  class="cell_3_7 black_font_color tur_letters">Ц</div>
                <div id="tur1cardslettertext15" ng-show="letterDoneTur1[14]"  class="cell_3_8 black_font_color tur_letters">И</div>
                <div id="tur1cardslettertext16" ng-show="letterDoneTur1[15]"  class="cell_3_9 black_font_color tur_letters">Я</div>
            </div>

            <div ng-show="turNumber == 2 " >
                <input  type="text" size="1" id="tur2letter1" class="cell_2_4 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[0]">
                <input   type="text" size="1" id="tur2letter2" class="cell_2_5 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[1]">
                <input   type="text" size="1" id="tur2letter3" class="cell_2_6 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[2]">
                <input   type="text" size="1" id="tur2letter4" class="cell_2_7 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[3]">
                <input   type="text" size="1" id="tur2letter5" class="cell_2_8 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[4]">
                <input   type="text" size="1" id="tur2letter6" class="cell_2_9 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[5]">
                <input   type="text" size="1" id="tur2letter7" class="cell_3_3 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[6]">
                <input   type="text" size="1" id="tur2letter8" class="cell_3_4 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[7]">
                <input   type="text" size="1" id="tur2letter9" class="cell_3_5 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[8]">
                <input   type="text" size="1" id="tur2letter10" class="cell_3_6 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[9]">
                <input   type="text" size="1" id="tur2letter11" class="cell_3_7 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[10]">
                <input   type="text" size="1" id="tur2letter12" class="cell_3_8 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[11]">
                <input   type="text" size="1" id="tur2letter13" class="cell_3_9 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur2[12]">

                <div id="tur2cardsletter1" ng-show="letterDoneTur2[0]" class="cards_2_4 cards_animation"></div>
                <div id="tur2cardsletter2" ng-show="letterDoneTur2[1]" class="cards_2_5 cards_animation"></div>
                <div id="tur2cardsletter3" ng-show="letterDoneTur2[2]" class="cards_2_6 cards_animation"></div>
                <div id="tur2cardsletter4" ng-show="letterDoneTur2[3]" class="cards_2_7 cards_animation"></div>
                <div id="tur2cardsletter5" ng-show="letterDoneTur2[4]" class="cards_2_8 cards_animation"></div>
                <div id="tur2cardsletter6" ng-show="letterDoneTur2[5]" class="cards_2_9 cards_animation"></div>
                <div id="tur2cardsletter7" ng-show="letterDoneTur2[6]" class="cards_3_3 cards_animation"></div>
                <div id="tur2cardsletter8" ng-show="letterDoneTur2[7]" class="cards_3_4 cards_animation"></div>
                <div id="tur2cardsletter9" ng-show="letterDoneTur2[8]" class="cards_3_5 cards_animation"></div>
                <div id="tur2cardsletter10" ng-show="letterDoneTur2[9]" class="cards_3_6 cards_animation"></div>
                <div id="tur2cardsletter11" ng-show="letterDoneTur2[10]" class="cards_3_7 cards_animation"></div>
                <div id="tur2cardsletter12" ng-show="letterDoneTur2[11]" class="cards_3_8 cards_animation"></div>
                <div id="tur2cardsletter13" ng-show="letterDoneTur2[12]" class="cards_3_9 cards_animation"></div>


                <div id="tur2cardslettertext1" ng-show="letterDoneTur2[0]"  class="cell_2_4 black_font_color tur_letters">C</div>
                <div id="tur2cardslettertext2" ng-show="letterDoneTur2[1]"  class="cell_2_5 black_font_color tur_letters">E</div>
                <div id="tur2cardslettertext3" ng-show="letterDoneTur2[2]"  class="cell_2_6 black_font_color tur_letters">Р</div>
                <div id="tur2cardslettertext4" ng-show="letterDoneTur2[3]"  class="cell_2_7 black_font_color tur_letters">Н</div>
                <div id="tur2cardslettertext5" ng-show="letterDoneTur2[4]"  class="cell_2_8 black_font_color tur_letters">А</div>
                <div id="tur2cardslettertext6" ng-show="letterDoneTur2[5]"  class="cell_2_9 black_font_color tur_letters">Я</div>
                <div id="tur2cardslettertext7" ng-show="letterDoneTur2[6]"  class="cell_3_3 black_font_color tur_letters">К</div>
                <div id="tur2cardslettertext8" ng-show="letterDoneTur2[7]"  class="cell_3_4 black_font_color tur_letters">И</div>
                <div id="tur2cardslettertext9" ng-show="letterDoneTur2[8]"  class="cell_3_5 black_font_color tur_letters">С</div>
                <div id="tur2cardslettertext10" ng-show="letterDoneTur2[9]"  class="cell_3_6 black_font_color tur_letters">Л</div>
                <div id="tur2cardslettertext11" ng-show="letterDoneTur2[10]"  class="cell_3_7 black_font_color tur_letters">О</div>
                <div id="tur2cardslettertext12" ng-show="letterDoneTur2[11]"  class="cell_3_8 black_font_color tur_letters">Т</div>
                <div id="tur2cardslettertext13" ng-show="letterDoneTur2[12]"  class="cell_3_9 black_font_color tur_letters">А</div>
            </div>

			<div ng-show="turNumber == 3 " >
                <input  type="text" size="1" id="tur3letter1" class="cell_2_5 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur3[0]">
                <input   type="text" size="1" id="tur3letter2" class="cell_2_6 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur3[1]">
                <input   type="text" size="1" id="tur3letter3" class="cell_2_7 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur3[2]">
                <input   type="text" size="1" id="tur3letter4" class="cell_2_8 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur3[3]">
                <input   type="text" size="1" id="tur3letter5" class="cell_2_9 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur3[4]">
                 
                <div id="tur3cardsletter1" ng-show="letterDoneTur3[0]" class="cards_2_5 cards_animation"></div>
                <div id="tur3cardsletter2" ng-show="letterDoneTur3[1]" class="cards_2_6 cards_animation"></div>
                <div id="tur3cardsletter3" ng-show="letterDoneTur3[2]" class="cards_2_7 cards_animation"></div>
                <div id="tur3cardsletter4" ng-show="letterDoneTur3[3]" class="cards_2_8 cards_animation"></div>
                <div id="tur3cardsletter5" ng-show="letterDoneTur3[4]" class="cards_2_9 cards_animation"></div>
                 
                <div id="tur3cardslettertext1" ng-show="letterDoneTur3[0]"  class="cell_2_5 white_font_color tur_letters">Р</div>
                <div id="tur3cardslettertext2" ng-show="letterDoneTur3[1]"  class="cell_2_6 white_font_color tur_letters">Т</div>
                <div id="tur3cardslettertext3" ng-show="letterDoneTur3[2]"  class="cell_2_7 white_font_color tur_letters">У</div>
                <div id="tur3cardslettertext4" ng-show="letterDoneTur3[3]"  class="cell_2_8 white_font_color tur_letters">Т</div>
                <div id="tur3cardslettertext5" ng-show="letterDoneTur3[4]"  class="cell_2_9 white_font_color tur_letters">Ь</div>
            </div>

            <div ng-show="turNumber == 4 " >
                <input  type="text" size="1" id="tur4letter1" class="cell_2_5 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur4[0]">
                <input  type="text" size="1" id="tur4letter2" class="cell_2_6 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur4[1]">
                <input  type="text" size="1" id="tur4letter3" class="cell_2_7 inputs2 letter_width tur_inputs" ng-show="!letterDoneTur4[2]">

                <div id="tur4cardsletter1" ng-show="letterDoneTur4[0]" class="cards_2_5 cards_animation"></div>
                <div id="tur4cardsletter2" ng-show="letterDoneTur4[1]" class="cards_2_6 cards_animation"></div>
                <div id="tur4cardsletter3" ng-show="letterDoneTur4[2]" class="cards_2_7 cards_animation"></div>

                <div id="tur4cardslettertext1" ng-show="letterDoneTur4[0]"  class="cell_2_5 white_font_color tur_letters">4</div>
                <div id="tur4cardslettertext2" ng-show="letterDoneTur4[1]"  class="cell_2_6 white_font_color tur_letters">1</div>
                <div id="tur4cardslettertext3" ng-show="letterDoneTur4[2]"  class="cell_2_7 white_font_color tur_letters">8</div>
            </div>

            
            <div id="tick" ng-show="showTick"></div>

            <div id="hint" ng-show="showInstructionPole && turNumber != 4">
                <p id="hint_text">КРУТИТЕ БАРАБАН</p>
            </div>

            <div id="red_button" ng-pressstart="redButtonPressStart()"
                 ng-pressend="redButtonPressEnd()" ng-click="redButtonClick()"
                 ng-class="{'red_button_active': !redButtonPressed, 'red_button_pressed': redButtonPressed}"></div>

            <div ng-show="barabanAllowed" id="disable_letters"></div>
            <button id="check_button_pole" ng-show="showCheckButtonPole" ng-click="checkButtonClickedPole()">В начало</button>
        </div>
    </div>
    <div id="main_tsor" ng-show="mainTsorShowing" ng-class="mainTsorClass()">

        <div id="aktobe_icon1" ng-show="showEmblemGiveCoin[0]" class="aktobe_icon icon_pos_init"></div>
        <div id="aktobe_icon2" ng-show="showEmblemGiveCoin[1]" class="aktobe_icon icon_pos_init"></div>
        <div id="aktobe_icon3" ng-show="showEmblemGiveCoin[2]" class="aktobe_icon icon_pos_init"></div>
        <div id="aktobe_icon4" ng-show="showEmblemGiveCoin[3]" class="aktobe_icon icon_pos_init"></div>

        <div id="flags1" ng-show="showAllFlags" class="flags1"></div>

        <div id="flags_highlighted1" ng-show="flagsHighlighted1"></div>

        <div id="akmolinskaya_oblast" ng-show="showAktobeFlag">
            <p id="akm_obl_text">Актюбинская <br/> область</p>
        </div>

        <div id="flag_Aktobe" ng-show="showAktobeFlag"></div>

		
        <div id="heli1" ng-show="showHeli1"></div>
        <div ng-show="stepNum == 1">
            <!--<div id="helicopter1" ng-show="heli2Show"></div>-->
            <!--<div id="helicopter2" class="heli_start" ng-show="heli3Show" ng-class="{'helicl1': heliClass == 1, 'helicl2': heliClass == 2, 'helicl3': heliClass == 3, 'helicl4': heliClass == 4}"></div>-->

        </div>

        <div id="stroka_1" ng-show="stepNum == 3" class="words_init_pos1_s3"></div>
        <div id="stroka_2" ng-show="stepNum == 3" class="words_init_pos2_s3"></div>
        <div id="stroka_3" ng-show="stepNum == 3" class="words_init_pos3_s3"></div>
        <div id="stroka_4" ng-show="stepNum == 3" class="words_init_pos4_s3"></div>
        <div id="stroka_5" ng-show="stepNum == 3" class="words_init_pos5_s3"></div>


        <div id="emblema" ng-show="stepNum >= 4 && stepNum <= 7"></div>
        <div id="emblema2" ng-show="stepNum >= 8 && stepNum <= 10"></div>

        <div ng-show="stepNum == 4">
            <div id="tablica" ng-show="stepNum == 4">

            </div>
            <div id="zaglavie" ng-show="stepNum == 4">
                <!--<p id="zaglavie_text">Определи массы изотопов хрома, входящего в состав полезного ископаемого</p>-->
            </div>

            <p id="table_text_1_1" class="table_texts_s4 text_align_left"><sup>{{tableTextCol1(1)}}</sup> Cr </p>
            <p id="table_text_2_1" class="table_texts_s4 text_align_left"><sup>{{tableTextCol1(2)}}</sup> Cr </p>
            <p id="table_text_3_1" class="table_texts_s4 text_align_left"><sup>{{tableTextCol1(3)}}</sup> Cr </p>
            <p id="table_text_4_1" class="table_texts_s4 text_align_left"><sup>{{tableTextCol1(4)}}</sup> Cr </p>

            <p id="table_text_1_2" class="table_texts_s4 text_align_center">26</p>
            <p id="table_text_2_2" class="table_texts_s4 text_align_center">28</p>
            <p id="table_text_3_2" class="table_texts_s4 text_align_center">29</p>
            <p id="table_text_4_2" class="table_texts_s4 text_align_center">30</p>

            <p id="table_text_1_3" class="table_texts_s4 text_align_center">4.31</p>
            <p id="table_text_2_3" class="table_texts_s4 text_align_center">87.76</p>
            <p id="table_text_3_3" class="table_texts_s4 text_align_center">9.55</p>
            <p id="table_text_4_4" class="table_texts_s4 text_align_center">2.38</p>

            <p id="table_text_1" class="table_texts_s4 text_align_center">ИЗОТОП</p>
            <p id="table_text_2" class="table_texts_s4 text_align_center">КОЛИЧЕСТВО НЕЙТРОНОВ</p>
            <p id="table_text_3" class="table_texts_s4 text_align_center">МАССОВОЕ ЧИСЛО</p>
            <p id="table_text_4" class="table_texts_s4 text_align_center">ВСТРЕЧАЕТСЯ В ПРИРОДЕ (%)</p>

            <input type="number" id="table_input_1" class="table_texts_s4 inputs4 text_align_center" ng-class="bgColorCheck(1)">
            <input type="number" id="table_input_2" class="table_texts_s4 inputs4 text_align_center" ng-class="bgColorCheck(2)">
            <input type="number" id="table_input_3" class="table_texts_s4 inputs4 text_align_center" ng-class="bgColorCheck(3)">
            <input type="number" id="table_input_4" class="table_texts_s4 inputs4 text_align_center" ng-class="bgColorCheck(4)">


            <button id="check_button_s4" ng-show="showCheckButtonS4" ng-click="checkButtonClickedS4()">Проверить</button>
        </div>

        <div ng-show="stepNum == 5">
            <div id='text_s5' ng-class=''>
                <!--<p id="p_text_s5">-->
                    <!--Актюбинцы гордятся запасом руды, содержащий хром. Хром входит в состав различных сортов специальных-->
                    <!--сталей и используется при изготовлении стволов огнестрельных орудий, броневых плит, несгораемых предметов.-->
                    <!--Стали, содержащие более 13% хрома применяются для изготовления подводных частей кораблей, постройки-->
                    <!--корпусов и лодок:-->
                <!--</p>-->
            </div>
            <div id='korablik_s5' ng-class=''></div>
            <div id="lampochka" ng-pressstart="lampHighlighted=true" ng-pressend="lampHighlighted=false"
                 ng-mouseover="lampHighlighted=true" ng-mouseleave="lampHighlighted=false"
                 ng-class="{'lamp_usual': !lampHighlighted, 'lamp_svet': lampHighlighted}"
                    ng-click="lampClicked()"></div>
        </div>

        <div ng-show="stepNum == 6">
            <div id="table_mend_s6"></div>
            <div id="sign_cr_s6" ng-show="crSignShowS6"></div>
            <!--<button id="minimize_s6" ng-click="minimizeClickedS6()">-</button>-->
        </div>

        <div ng-show="stepNum == 7">
            <div id="tablica_s7">
                <!--<p id="tablica_s7_text">-->
                    <!--Рассчитай среднеарифметическое значение относительной атомной массы хрома-->
                <!--</p>-->
            </div>
            <!--<div id="t7t1" class="size_t7">50 * </div>-->
            <!--<div id="t7t2" class="size_t7">+ 52 * </div>-->
            <!--<div id="t7t3" class="size_t7">+ 53 * </div>-->
            <!--<div id="t7t4" class="size_t7">+ 54 * </div>-->
            <!--<div id="t7t5" class="size_t7">= 51.996</div>-->

            <div id="lampochka_s7" ng-pressstart="lampHighlighted=true" ng-pressend="lampHighlighted=false"
                 ng-mouseover="lampHighlighted=true" ng-mouseleave="lampHighlighted=false"
                 ng-class="{'lamp_usual': !lampHighlighted, 'lamp_svet': lampHighlighted}"
                 ng-click="tableFilledShowS7 = true"></div>

            <div id="Cr_table_filled_s7" ng-show="tableFilledShowS7"></div>
            <!--<div id="opredeli_metal_s7"></div>-->
            <div id="pozdravlyaiu_s7" ng-show="congratsShowS7"></div>
            <input class="inputs7" type="text" id="otvet_1_s7" ng-class="bgColorCheckS7(1)">
            <input class="inputs7" type="text" id="otvet_2_s7" ng-class="bgColorCheckS7(2)">
            <input class="inputs7" type="text" id="otvet_3_s7" ng-class="bgColorCheckS7(3)">
            <input class="inputs7" type="text" id="otvet_4_s7" ng-class="bgColorCheckS7(4)">

            <button id="check_button_s7" ng-show="showCheckButtonS7" ng-click="checkButtonClickedS7()">Проверить</button>

        </div>

        <div ng-show="stepNum>=8 && stepNum <= 10">
            <div id="tablica_s8"></div>
            <p id="tablica_text">{{step8TextFill}}</p>

            <div id="Pb_light" ng-show="showElementS8 >= 1 && showElementsS8"></div>
            <div id="Zn_light" ng-show="showElementS8 >= 2 && showElementsS8"></div>
            <div id="Cu_light" ng-show="showElementS8 >= 3 && showElementsS8"></div>
            <div id="Au_light" ng-show="showElementS8 >= 4 && showElementsS8"></div>
            <div id="Ag_light" ng-show="showElementS8 >= 5 && showElementsS8"></div>
            <div id="Cd_light" ng-show="showElementS8 >= 6 && showElementsS8"></div>
            <div id="Bi_light" ng-show="showElementS8 >= 7 && showElementsS8"></div>
            <div id="Sn_light" ng-show="showElementS8 >= 8 && showElementsS8"></div>
            <div id="In_light" ng-show="showElementS8 >= 9 && showElementsS8"></div>
            <div id="Ta_light" ng-show="showElementS8 >= 10 && showElementsS8"></div>

            <div id="Pb" ng-show="showElementS8 >= 1"></div>
            <div id="Zn" ng-show="showElementS8 >= 2"></div>
            <div id="Cu" ng-show="showElementS8 >= 3"></div>
            <div id="Au" ng-show="showElementS8 >= 4"></div>
            <div id="Ag" ng-show="showElementS8 >= 5"></div>
            <div id="Cd" ng-show="showElementS8 >= 6"></div>
            <div id="Bi" ng-show="showElementS8 >= 7"></div>
            <div id="Sn" ng-show="showElementS8 >= 8"></div>
            <div id="In" ng-show="showElementS8 >= 9"></div>
            <div id="Ta" ng-show="showElementS8 >= 10"></div>
        </div>

        <div ng-show="stepNum >= 9 && stepNum <= 10">
            <div id="pb_text" ng-class="classOfElementS9('pb')" ng-click="elementClickedS9('pb')" class="chem_text_cells">
                PbO <br/>оксид <br/>свинца
            </div>
            <div id="zn_text" ng-class="classOfElementS9('zn')" ng-click="elementClickedS9('zn')" class="chem_text_cells">
                ZnCl<sub>2</sub> <br/>хлорид <br/>цинка
            </div>
            <div id="cu_text" ng-class="classOfElementS9('cu')" ng-click="elementClickedS9('cu')" class="chem_text_cells">
                Cu<sub>2</sub>O <br/>оксид <br/>меди
            </div>
            <div id="au_text" ng-class="classOfElementS9('au')" ng-click="elementClickedS9('au')" class="chem_text_cells">
                AuCl<sub>3</sub> <br/>хлорид <br/>золота
            </div>
            <div id="ag_text" ng-class="classOfElementS9('ag')" ng-click="elementClickedS9('ag')" class="chem_text_cells">
                Ag<sub>2</sub>S <br/>сульфид <br/>серебра
            </div>
            <div id="cd_text" ng-class="classOfElementS9('cd')" ng-click="elementClickedS9('cd')" class="chem_text_cells">

            </div>
            <div id="bi_text" ng-class="classOfElementS9('bi')" ng-click="elementClickedS9('bi')" class="chem_text_cells"></div>
            <div id="sn_text" ng-class="classOfElementS9('sn')" ng-click="elementClickedS9('sn')" class="chem_text_cells"></div>
            <div id="in_text" ng-class="classOfElementS9('in')" ng-click="elementClickedS9('in')" class="chem_text_cells"></div>
            <div id="ta_text" ng-class="classOfElementS9('ta')" ng-click="elementClickedS9('ta')" class="chem_text_cells"></div>
        </div>

        <div ng-show="stepNum == 10">
            <div id="zadanie_s8"></div>
            <p id="task_text1_s8" ng-class="{'correct_s8': checkStatus[0] == 1, 'incorrect_s8': checkStatus[0] == 2}">
                Ответь на вопросы: <br/>
                1. Всегда ли в соединениях соотношение атомов 1:1?<br/>
                а) да<br/>
                б) нет<br/>
            </p>
            <p id="task_text2_s8" ng-class="{'correct_s8': checkStatus[1] == 1, 'incorrect_s8': checkStatus[1] == 2}">
                2. Что означает цифра в формуле соединения?<br/>
                а) индекс, количество атомов данного химического элемента в соединении<br/>
                б) атомную массу данного элемента<br/>
                в) количество протонов в атоме данного элемента<br/>
            </p>
            <p id="task_text3_s8" ng-class="{'correct_s8': checkStatus[2] == 1, 'incorrect_s8': checkStatus[2] == 2}">
                3. Название соединений металла с кислородом:<br/>
                а) оксиды <br/>
                б) гидриды <br/>
            </p>

            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT1Dirty=true" ng-model="testAnsT1S10" value="a" id="test_answer_t1_1_s10">
            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT1Dirty=true" ng-model="testAnsT1S10" value="b" id="test_answer_t1_2_s10">

            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT2Dirty=true" ng-model="testAnsT2S10" value="a" id="test_answer_t2_1_s10">
            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT2Dirty=true" ng-model="testAnsT2S10" value="b" id="test_answer_t2_2_s10">
            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT2Dirty=true" ng-model="testAnsT2S10" value="c" id="test_answer_t2_3_s10">

            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT3Dirty=true" ng-model="testAnsT3S10" value="a" id="test_answer_t3_1_s10">
            <input type="radio" class="radios test_answer_size text_left_s8" ng-change="testAnsT3Dirty=true" ng-model="testAnsT3S10" value="b" id="test_answer_t3_2_s10">

            <div id="zadanie_vypolneno_s10" ng-show="taskDoneS10"></div>
            <div id="right_answer_s10" ng-show="showRightAnswerS10">

            </div>
            <button id="check_button_s10" ng-show="testAnsT1Dirty && testAnsT2Dirty && testAnsT3Dirty"
                    ng-click="checkButtonClickedS10()">Проверить</button>
        </div>

        <div id="emblema3"
             ng-class="{
                'emplema_usual': stepNum != 12 && stepNum != 14&& stepNum != 11,
                'emblema_left': stepNum == 11,
                'emblema_left': stepNum == 12
             }"
             ng-show="stepNum >= 11 && stepNum < 14"></div>
        <div ng-show="stepNum == 11">
            <div id="zheleznak_S11"></div>
        </div>

        <div ng-show="stepNum==12">
            <div id="zhelezo_s12"></div>
            <div id="zadacha_zhelezo_s12">
                <!--<p id="task_text_s12">-->
                    <!--Посчитай атомную массу железа, зная, что у него есть природные <br/>-->
                    <!--изотопы <sup>56</sup>Fe(91.68%), <sup>54</sup>Fe(5.84%), <sup>57</sup>Fe(2.17%), <sup>58</sup>Fe(0.31%).-->
                    <!--<br/>-->
                    <!--Впиши ответ в ячейку:-->
                <!--</p>-->
            </div>

            <input type="text" id="table_input_1_s12" class="inputs12 text_align_center" ng-class="bgColorCheckS12()">

            <button id="check_button_s12" ng-show="showCheckButtonS12" ng-click="checkButtonClickedS12()">Проверить</button>
        </div>

        <div ng-show="stepNum==13">
            <div id="bauxites_s13"></div>
            <!--<div id="formula_6d3e2_6d2e3" ng-show="formulaShow1"></div>-->
            <!--<div id="formula_3m2e6" ng-show="formulaShow2"></div>-->
            <div id="Al_O_s13" ng-show="showAlS13"></div>
            <div id="f2_s13" ng-show="showF2S13"></div>
            <div id="f3_s13" ng-show="showF3S13"></div>

            <div id="sprite1_S13"></div>
            <div id="sprite2_S13" ng-show="sprite2S13Show"></div>
            <div id="sprite3_S13" ng-show="sprite3S13Show"></div>
            <div id="sprite4_S13" ng-show="sprite4S13Show"></div>
        </div>

        <div ng-show="stepNum==14">
            <div id="illustrtions_s14"></div>
            <div id="formula_s14"></div>


            <input type="text" id="formula_text_11_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(1, 1)">
            <input type="text" id="formula_text_12_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(1, 2)">
            <input type="text" id="formula_text_21_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(2, 1)">
            <input type="text" id="formula_text_22_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(2, 2)">

            <input type="text" id="formula_text_31_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(3, 1)">
            <input type="text" id="formula_text_32_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(3, 2)">
            <input type="text" id="formula_text_41_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(4, 1)">
            <input type="text" id="formula_text_42_s14" class="inputs14 text_align_center" ng-class="bgColorCheckS14(4, 2)">

            <p id="formula_number_11_s14" ng-show="checkZeroS14(1)" class="text_align_center bla" ng-class="bgColorCheckFS14(0)">{{formulaNumVals[0]}}</p>
            <p id="formula_number_12_s14" ng-show="checkZeroS14(2)" class="text_align_center bla" ng-class="bgColorCheckFS14(1)">{{formulaNumVals[1]}}</p>
            <p id="formula_number_21_s14" ng-show="checkZeroS14(3)" class="text_align_center bla" ng-class="bgColorCheckFS14(2)">{{formulaNumVals[2]}}</p>
            <p id="formula_number_22_s14" ng-show="checkZeroS14(4)" class="text_align_center bla" ng-class="bgColorCheckFS14(3)">{{formulaNumVals[3]}}</p>
            <p id="formula_number_31_s14" ng-show="checkZeroS14(5)" class="text_align_center bla" ng-class="bgColorCheckFS14(4)">{{formulaNumVals[4]}}</p>
            <p id="formula_number_32_s14" ng-show="checkZeroS14(6)" class="text_align_center bla" ng-class="bgColorCheckFS14(5)">{{formulaNumVals[5]}}</p>
            <p id="formula_number_41_s14" ng-show="checkZeroS14(7)" class="text_align_center bla" ng-class="bgColorCheckFS14(6)">{{formulaNumVals[6]}}</p>
            <p id="formula_number_42_s14" ng-show="checkZeroS14(8)" class="text_align_center bla" ng-class="bgColorCheckFS14(7)">{{formulaNumVals[7]}}</p>

            <div id="up_1" ng-click="upClick(1)"></div>
            <div id="up_2" ng-click="upClick(2)"></div>
            <div id="up_3" ng-click="upClick(3)"></div>
            <div id="up_4" ng-click="upClick(4)"></div>
            <div id="up_5" ng-click="upClick(7)"></div>
            <div id="up_6" ng-click="upClick(8)"></div>
            <div id="up_7" ng-click="upClick(5)"></div>
            <div id="up_8" ng-click="upClick(6)"></div>

            <div id="down_1" ng-click="downClick(1)"></div>
            <div id="down_2" ng-click="downClick(2)"></div>
            <div id="down_3" ng-click="downClick(3)"></div>
            <div id="down_4" ng-click="downClick(4)"></div>
            <div id="down_5" ng-click="downClick(7)"></div>
            <div id="down_6" ng-click="downClick(8)"></div>
            <div id="down_7" ng-click="downClick(5)"></div>
            <div id="down_8" ng-click="downClick(6)"></div>
            <div id="tablica_valentnosti_s14" ng-show="tableFilledShowS14"></div>

            <div id="lampochka_s14" ng-pressstart="lampHighlighted=true" ng-pressend="lampHighlighted=false"
                 ng-mouseover="lampHighlighted=true" ng-mouseleave="lampHighlighted=false"
                 ng-class="{'lamp_usual': !lampHighlighted, 'lamp_svet': lampHighlighted}"
                 ng-click="tableFilledShowS14 = true"></div>


            <button id="check_button_s14" ng-show="showCheckButtonS14" ng-click="checkButtonClickedS14()">Проверить</button>
        </div>

        <div ng-show="stepNum == 15">

            <div id="region_s15">
                <p id="kar_obl_text">Карагандинская <br/> область</p>
            </div>

            <div id="stroka15_1" class="z_index_2000 words_init_pos1_s15"></div>
            <div id="stroka15_2" class="z_index_2000 words_init_pos2_s15"></div>
            <div id="stroka15_3" class="z_index_2000 words_init_pos3_s15"></div>
            <div id="stroka15_4" class="z_index_2000 words_init_pos4_s15"></div>
            <div id="stroka15_5" class="z_index_2000 words_init_pos5_s15"></div>

            <div id="heli2"></div>

        </div>

        <div ng-show="stepNum == 16">
            <div id="kolchedan_s16" ng-show="kolchedanShowS16"></div>
            <div id="table_s16" ng-show="showTableS16"></div>
            <div id="table_elem_s16" ng-show="showTableElemS16"></div>
            <div id="molecule_s16" ng-show="showMoleculeS16" class="molecule_init_pos_s16"></div>
            <div id="molecule2_s16"
                 ng-show="showMolecule2S16"
                 class="molecule2_init_pos_s16"
                 ng-class="{'mol_class2_s16':molecule2Status == 1,
                            'mol_class3_s16':molecule2Status == 2,
                            'mol_class4_s16':molecule2Status == 3}"></div>
        </div>

        <div ng-show="stepNum == 17">
            <div id="task_Text_s17"></div>
            <div id="emblem_s16_main"></div>
            <div id="pic_s17"></div>

            <div id="text_container_s17">
                <div id="texts17_1" class="bold_font black_font_color">Mr(CaCO<sub>3</sub>)=40+12+16*</div>
                <div id="texts17_2">

                    <input class="inputs17" id="input1_s17" type="text" size="2" ng-class="bgColorCheckS17(1)">

                </div>
                <div id="texts17_3" class="bold_font black_font_color">=100</div>
            </div>

            <div id="text_container2_s17">
                <div id="texts2_17_1" class="bold_font black_font_color">Mr(NaCl) =</div>
                <div id="texts2_17_2">

                    <input class="inputs17" id="input2_s17" type="text" size="2"ng-class="bgColorCheckS17(2)">

                </div>
                <div id="texts2_17_3" class="bold_font black_font_color"> + 35.5=58.5</div>
            </div>

            <div id="text_container3_s17">
                <div id="texts3_17_1" class="bold_font classOfThirdInputAndTexts black_font_color">Mr(NaHCO<sub>3</sub>) = </div>
                <div id="texts31_17_2">
                    <input id="input31_s17" type="text" size="2" ng-class="bgColorCheckS17(31)" class="inputs17 classOfThirdInputAndTexts">

                </div>

                <div id="texts311_17_3" class="bold_font classOfThirdInputAndTexts black_font_color">+</div>
                <div id="texts32_17_2">
                    <input id="input32_s17" type="text" size="2" ng-class="bgColorCheckS17(32)" class="inputs17 classOfThirdInputAndTexts">
                </div>
                <div id="texts312_17_3" class="bold_font classOfThirdInputAndTexts black_font_color">+</div>
                <div id="texts33_17_2">
                    <input id="input33_s17" type="text" size="2" ng-class="bgColorCheckS17(33)" class="inputs17 classOfThirdInputAndTexts">
                </div>
                <div id="texts313_17_3" class="bold_font classOfThirdInputAndTexts black_font_color">+</div>
                <div id="texts34_17_2">
                    <input id="input34_s17" type="text" size="2" ng-class="bgColorCheckS17(34)" class="inputs17 classOfThirdInputAndTexts">
                </div>
                <div id="texts314_17_3" class="bold_font classOfThirdInputAndTexts black_font_color">=</div>
                <div id="texts35_17_2">
                    <input id="input35_s17" type="text" size="2" ng-class="bgColorCheckS17(35)" class="inputs17 classOfThirdInputAndTexts">

                </div>


            </div>

            <div id="table_mend_s17" ng-show="tableMendShow17"></div>

            <div id="lampochka_s17" ng-pressstart="lampHighlighted=true" ng-pressend="lampHighlighted=false"
                 ng-mouseover="lampHighlighted=true" ng-mouseleave="lampHighlighted=false"
                 ng-class="{'lamp_usual': !lampHighlighted, 'lamp_svet': lampHighlighted}"
                 ng-click="lampClickedS17()"></div>

            <button id="check_button_s17" ng-show="showCheckButtonS17" ng-click="checkButtonClickedS17()">Проверить</button>

        </div>

        <button id="next_button" class="z_index_5000" ng-click="nextButtonClick()" ng-hide="stepNum == 17">Далее</button>

        <button id="v_nachalo" class="z_index_5000"ng-show="stepNum == 17" ng-click="toTheBeginning()">В начало</button>
        <button id="back_button" class="z_index_5000"ng-click="backButtonClick()">Назад</button>

    </div>
</div>

</body>
</html>