html,body {
    height: 100%;
    width: 100%;
}
.animation {
    background: url(../img/run.png);
    background-size: 300% 301%;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 10%;
    top: 10%;
}
