#istochniki {
    background: transparent url('../img/istochniki_new.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
body {
    position: absolute;

    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#main {
    position: absolute;

    /*background: transparent url(../img/osnova/bg.png) 0 0;*/
    background-size: 100% 100%;

    width: 700px;
    height: 350px;
    overflow: hidden;
}

.tit1 {
    background: transparent url('../img/png/0titulka/sokroviwa_no_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 17.05%;
    top: 20.7%;
    width: 20.05%;
    height: 66.4%;
}
.tit2 {
    background: transparent url('../img/png/0titulka/igra_no_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 41.55%;
    top: 23.1%;
    width: 19.35%;
    height: 56.7%;
}
.tit3 {
    background: transparent url('../img/png/0titulka/istochniki_no_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 65.9%;
    top: 23.7%;
    width: 15.35%;
    height: 48.6%;
}

#titulka_1{
    position: absolute;
}

#titulka_2{
    position: absolute;
}

#titulka_3{
    position: absolute;
}

#titulka{
    background: transparent url('../img/png/0titulka/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

/*.tit_highlighted1{*/
    /*background: transparent url('../img/png/0titulka/podsvetka_1.png') 0 0 no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.tit_highlighted2{*/
    /*background: transparent url('../img/png/0titulka/podsvetka_2.png') 0 0 no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.tit_highlighted3{*/
    /*background: transparent url('../img/png/0titulka/podsvetka_3.png') 0 0 no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/

#hint {
    background: transparent url('../img/png/19/hint.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 21.2%;
    top: 8.8%;

    /*494 202*/
    width: 24.7%;
    height: 20.2%;
    z-index: 10;
}
#hint_text {
    width: 100%;
    text-align: center;
    font-family: "Times New Roman";
}
.p4_tur{
      background: transparent url('../img/png/19/3_tur2.png') 0 0 no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 76.2%;
      top: 31.8%;
      width: 18.15%;
      height: 23.2%;
  }

.p3_tur{
      background: transparent url('../img/png/19/3_tur.png') 0 0 no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 76.75%;
      top: 33.6%;
      width: 16.75%;
      height: 15.1%;
  }

.p2_tur{
      background: transparent url('../img/png/19/2_tur.png') 0 0 no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 75.65%;
      top: 35.4%;
      width: 18.9%;
      height: 26.6%;
  }

.p1_tur{
      background: transparent url('../img/png/19/1_tur.png') 0 0 no-repeat;
      background-size: 100% 100%;
      position: absolute;
      left: 74.55%;
      top: 29.8%;
      width: 21.1%;
      height: 42.7%;
  }

.tit_highlighted1{
    background: transparent url('../img/png/0titulka/sokroviwa_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 17.05%;
    top: 20.7%;
    width: 20.05%;
    height: 66.4%;
}
.tit_highlighted2{
    background: transparent url('../img/png/0titulka/igra_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 41.55%;
    top: 23.1%;
    width: 19.35%;
    height: 56.7%;
}
.tit_highlighted3{
    background: transparent url('../img/png/0titulka/istochniki_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 65.9%;
    top: 23.7%;
    width: 15.35%;
    height: 48.6%;
}


.main_class_1 {
    background: transparent url('../img/png/1/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_2 {
    background: transparent url('../img/png/2/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_3 {
    background: transparent url('../img/png/2/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_4 {
    background: transparent url('../img/png/4/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_5 {
    background: transparent url('../img/png/4/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_6 {
    background: transparent url('../img/png/4/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_7 {
    background: transparent url('../img/png/4/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_8 {
    background: transparent url('../img/png/8/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

.main_class_9 {
    background: transparent url('../img/png/8/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_10 {
    background: transparent url('../img/png/8/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_11 {
    background: transparent url('../img/png/11/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}


.main_class_12 {
    background: transparent url('../img/png/11/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_13 {
    background: transparent url('../img/png/11/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_14 {
    background: transparent url('../img/png/11/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_15 {
    background: transparent url('../img/png/15/bg1.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_16 {
    background: transparent url('../img/png/16/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.main_class_17 {
    background: transparent url('../img/png/16/bg.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.z_index_5000 {
    z-index: 5000;
}
#task_Text_s17 {
    position: absolute;
    background: transparent url('../img/png/17/task_text.png') 0 0 no-repeat;
    background-size: 100% 100%;
    width: 44.25%;
    height: 9.5%;
    left : 32%;
    top: 0%;
}
#emblem_s16_main {
    position: absolute;
    /*536 520*/
    left: 0%;
    top: 2%;
    width: 26.8%;
    height: 52%;
    background: transparent url('../img/png/16/bg_emblem_small.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#region_s15 {
    background: transparent url('../img/png/15/region.png') 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    position: absolute;
}

#main_tsor {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
.table_texts_s4 {
    font-family: "Times New Roman";
}
.flags1 {
    background: transparent url('../img/png/1/flags.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

#flags_highlighted1 {
    background: transparent url('../img/png/1/flags_highlighted.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#flags1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#flag_Aktobe{
    background: transparent url('../img/png/2/flag_Aktobe.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26%;
    top: 21.5%;
    width: 8.6%;
    height: 19.5%;
}
#kar_obl_text {
    position: absolute;
    left: 50%;
    top: 41%;
}
#akm_obl_text {
    position: absolute;
    left: 25%;
    top: 25%;
}
#akmolinskaya_oblast{
    background: transparent url('../img/png/2/akmolinskaya_oblast.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 16.05%;
    top: 25.6%;
    width: 27.35%;
    height: 47.7%;
}

.words_init_pos4_s3 {
    top: 60%;
    left: 100%;
}
.words_init_pos3_s3 {
    top: 39%;
    left: 100%;
}
.words_init_pos2_s3 {
    top: 19.7%;
    left: 100%;
}
.words_init_pos1_s3 {
    top: 1.6%;
    left: 100%;
}
.words_init_pos5_s3 {
    top: 79.1%;
    left: 100%;
}

#stroka_4{
    background: transparent url('../img/png/2/stroka_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;

    width: 96.35%;
    height: 19.6%;
}

#stroka_3{
    background: transparent url('../img/png/2/stroka_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 73.8%;
    height: 19%;
}

#stroka_2{
    background: transparent url('../img/png/2/stroka_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 84.5%;
    height: 20.3%;
}

#stroka_1{
    background: transparent url('../img/png/2/stroka_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 76.45%;
    height: 15.3%;
}

#stroka_5{
    background: transparent url('../img/png/2/stroka_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 70.15%;
    height: 20.8%;
}
#tablica_text {
    position: absolute;
    left: 20%;
    top: 54.6%;
    width: 61%;
}
#tablica{
    background: transparent url('../img/png/4/tablica.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 28.7%;
    top: 26.3%;
    width: 43.5%;
    height: 61.4%;
}


#zaglavie{
    background: transparent url('../img/png/4/zaglavie.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 7.45%;
    top: 7.2%;
    width: 83.2%;
    height: 15.9%;

}

#zaglavie_text {
    position: absolute;
    left : 2%;
    font-family: "Times New Roman";
    line-height: 1;
    text-align: center;
    width: 98%;
}

.text_align_left {
    text-align: left;
}
.text_align_center {
    text-align: center;
}
#table_text_1_1 {
    position: absolute;
    left: 31%;
    top: 49%;
    width: 8%;
    height: 7%;
}


#table_text_2_1 {
    position: absolute;
    left: 31%;
    top: 59%;
    width: 8%;
    height: 7%;
}


#table_text_3_1 {
    position: absolute;
    left: 31%;
    top: 68%;
    width: 8%;
    height: 7%;
}


#table_text_4_1 {
    position: absolute;
    left: 31%;
    top: 77%;
    width: 8%;
    height: 7%;
}

#table_text_1_2 {
    position: absolute;
    left: 41%;
    top: 49%;
    width: 8%;
    height: 7%;
}


#table_text_2_2 {
    position: absolute;
    left: 41%;
    top: 59%;
    width: 8%;
    height: 7%;
}


#table_text_3_2 {
    position: absolute;
    left: 41%;
    top: 68%;
    width: 8%;
    height: 7%;
}


#table_text_4_2 {
    position: absolute;
    left: 41%;
    top: 77%;
    width: 8%;
    height: 7%;
}

#emblema{
    background: transparent url('../img/png/4/emblema.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26.05%;
    top: 1.7%;
    width: 49.5%;
    height: 98.3%;
}

#emblema2{
    background: transparent url('../img/png/8/logo.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26.05%;
    top: 4.1%;
    width: 46.8%;
    height: 91.1%;
}

.emblema_left {
    left: 0.5%;

}

.emblema_right {
    left: 50%;
}

.emplema_usual {
    left: 27.5%;

}
#emblema3 {
    background: transparent url('../img/png/11/logo.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;

    top: -0.9%;
    width: 37.75%;
    height: 75.2%;
}
#table_text_1_3 {
    position: absolute;
    left: 61%;
    top: 49%;
    width: 8%;
    height: 7%;
}


#table_text_2_3 {
    position: absolute;
    left: 61%;
    top: 59%;
    width: 8%;
    height: 7%;
 }


#table_text_3_3 {
    position: absolute;
    left: 61%;
    top: 68%;
    width: 8%;
    height: 7%;
}


#table_text_4_4 {
    position: absolute;
    left: 61%;
    top: 77%;
    width: 8%;
    height: 7%;
}

#table_text_1 {
    position: absolute;
    left: 30%;
    top: 33.5%;
    width: 8%;
    height: 7%;
    font-family: "Times New Roman" ;
}

#table_text_2 {
    position: absolute;
    left: 40%;
    top: 32%;
    width: 9%;
    height: 8%;
    font-family:  "Times New Roman";
}

#table_text_3 {
    position: absolute;
    left: 51.0%;
    top: 32%;
    width: 8%;
    height: 7%;
    font-family: "Times New Roman";
}


#table_text_4 {
    position: absolute;
    left: 61%;
    top: 33%;
    width: 8%;
    height: 7%;
    font-family: "Times New Roman";
    text-align: center;
}

.bold_font {
    font-weight: bold;
}
.background_color_red {
    background-color: red;

}

.background_color_green {
    background-color: green;
}

#table_input_1 {
    position: absolute;
    left: 50.2%;
    top: 50%;
    width: 9.7%;
    height: 7.2%;
    font-family: "Times New Roman";
}


#table_input_2 {
    position: absolute;
    left: 50.2%;
    top: 59%;
    width: 9.7%;
    height: 7.2%;
    font-family: "Times New Roman";
}


#table_input_3 {
    position: absolute;
    left: 50.2%;
    top: 68%;
    width: 9.7%;
    height: 7.2%;
    font-family: "Times New Roman";
}


#table_input_4 {
    position: absolute;
    left: 50.2%;
    top: 77%;
    width: 9.7%;
    height: 7.2%;
    font-family: "Times New Roman";
}
#check_button_s17{
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}

#check_button_s17{
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}

#check_button_pole {
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}

#check_button_s10 {
    position: absolute;
    left: 26%;
    top: 95%;
    height: 5%;
}

#check_button_s12 {
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}

#check_button_s14 {
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}
#next_button{
    position: absolute;
    left: 95%;
    top: 95%;
    height: 5%;
}
#v_nachalo{
    position: absolute;
    left: 82%;
    top: 95%;
    height: 5%;
}
#back_button{
    position: absolute;
    left: 0%;
    top: 95%;
    height: 5%;
}

#korablik_s5{
    background: transparent url('../img/png/5/korablik.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 41.8%;
    top: 54.4%;
    width: 29.65%;
    height: 44%;
}

#text_s5{
    background: transparent url('../img/png/5/text.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 13.2%;
    top: 7.2%;
    width: 53.8%;
    height: 57.8%;
}

#tablica_s7_text {
    position: absolute;
    font-style: italic;
    font-family: "Times New Roman";
    left: 5%;
}
#p_text_s5{
    position: absolute;
    left: 1.3%;
    top: -3.8%;
    width: 94.6%;
    height: 75.6%;
    line-height: 1.5;
    font-style: italic;
    font-family: "Times New Roman";
}

#table_mend_s6 {
    background: transparent url('../img/png/6/table_mend.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#table_mend_s17 {
    background: transparent url('../img/png/6/table_mend.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#sign_cr_s6 {
    background: transparent url('../img/png/6/cr_sign.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#minimize_s6 {
    position: absolute;
    left: 90%;
    top: 10%;
    width: 5%;
    height: 10%;
}

/*---------------------------------------------------*/
#pozdravlyaiu_s7{
    background: transparent url('../img/png/7/pozdravlyaiu.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 22.65%;
    top: 52.8%;
    width: 54.2%;
    height: 27.3%;
}

#opredeli_metal_s7{
    background: transparent url('../img/png/7/opredeli_metal.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 7.45%;
    top: 7.2%;
    width: 82.35%;
    height: 14.4%;
}

#Cr_table_filled_s7{
    background: transparent url('../img/png/7/Cr_table_filled.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 28.9%;
    top: 31.3%;
    width: 42.65%;
    height: 59.9%;
}
#otvet_1_s7{
    position: absolute;
    left: 27.4%;
    top: 16.9%;
    width: 4.5%;
    height: 3.6%;
    text-align: center;
}

#otvet_2_s7{
    position: absolute;
    left: 39.2%;
    top: 16.9%;
    width: 4.5%;
    height: 3.6%;
    text-align: center;
}
#otvet_3_s7 {
    position: absolute;
    left: 49.75%;
    top: 16.9%;
    width: 4%;
    height: 3.6%;
    text-align: center;
}
#otvet_4_s7{
    position: absolute;
    left: 60.45%;
    top: 16.9%;
    width: 4%;
    height: 3.6%;
    text-align: center;
}

#tablica_s7{
    background: transparent url('../img/png/7/task2.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 11.55%;
    top: 4.9%;
    width: 76.2%;
    height: 22%;
}

#check_button_s7 {
    position: absolute;
    left: 20%;
    top: 95%;
    height: 5%;
}
#Pb{
    background: transparent url('../img/png/8/Pb.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 17.8%;
    top: 4.5%;
    width: 16.1%;
    height: 31.3%;
}

#Zn{
    background: transparent url('../img/png/8/Zn.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 33.25%;
    top: 4.7%;
    width: 11%;
    height: 26.2%;
}

#Cu{
    background: transparent url('../img/png/8/Cu.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 45.95%;
    top: 4.6%;
    width: 10.95%;
    height: 26.2%;
}

#Au{
    background: transparent url('../img/png/8/Au.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 58.05%;
    top: 4.6%;
    width: 11.1%;
    height: 26.3%;
}

#Ag{
    background: transparent url('../img/png/8/Ag.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 70%;
    top: 4.6%;
    width: 11.2%;
    height: 26.1%;
}

#Cd{
    background: transparent url('../img/png/8/Cd.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 20.3%;
    top: 31.1%;
    width: 11.1%;
    height: 26.4%;
}

#Bi{
    background: transparent url('../img/png/8/Bi.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 33.45%;
    top: 31.2%;
    width: 11.05%;
    height: 26.1%;
}

#Sn{
    background: transparent url('../img/png/8/Sn.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 46.15%;
    top: 31.2%;
    width: 11%;
    height: 26%;
}

#In{
    background: transparent url('../img/png/8/In.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 58%;
    top: 31.3%;
    width: 10.95%;
    height: 25.8%;
}

#Ta{
    background: transparent url('../img/png/8/Ta.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 70.05%;
    top: 31.2%;
    width: 11%;
    height: 26.1%;
}

/*////////////////*/

#pb_text{
    position: absolute;
    left: 21.0%;
    top: 10.7%;
    width: 9.8%;
    height: 18.9%;
}

#zn_text{
    position: absolute;
    left: 33.75%;
    top: 10.7%;
    width: 9.8%;
    height: 18.9%;
}

#cu_text{
    position: absolute;
    left: 46.4%;
    top: 10.7%;
    width: 9.8%;
    height: 18.9%;
}

#au_text{
    position: absolute;
    left: 58.50%;
    top: 10.7%;
    width: 9.8%;
    height: 18.9%;
}

#ag_text{
    position: absolute;
    left: 70.25%;
    top: 10.7%;
    width: 9.8%;
    height: 18.9%;
}

#cd_text{
    position: absolute;
    left: 21.3%;
    top: 37.8%;
    width: 9.8%;
    height: 18.9%;
}

#bi_text{
    position: absolute;
    left: 34.45%;
    top: 37.8%;
    width: 9.8%;
    height: 18.9%;
}

#sn_text{
    position: absolute;
    left: 47.15%;
    top: 37.3%;
    width: 9.8%;
    height: 18.9%;
}

#in_text{
    position: absolute;
    left: 59%;
    top: 37.3%;
    width: 9.8%;
    height: 18.9%;
}

#ta_text{
    position: absolute;
    left: 71.05%;
    top: 37.3%;
    width: 9.8%;
    height: 18.9%;
}

.black_bg {
    background-color: black;
    color:#ffffff;
}

.opacity0 {
    opacity: 0;
}

#zadanie_s8{
    background: transparent url('../img/png/8/zadanie.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 7.2%;
    top: 36.6%;
    width: 86.8%;
    height: 78.5%;
}

#tablica_s8{
    background: transparent url('../img/png/8/tablica.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    /*left: 16.65%;*/
    /*top: 1.3%;*/
    /*width: 69.55%;*/
    /*height: 77.5%;*/
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.text_left_s8 {
    left: 13.5%;
}
.test_answer_size {
    height: 5%;
    width: 1.5%;
}
#test_answer_t1_1_s10 {
    position: absolute;
    
    top: 58.5%;
}
#test_answer_t1_2_s10 {
    position: absolute;
    
    top: 62.5%;
}

#test_answer_t2_1_s10 {
    position: absolute;
    
    top: 71.5%;
}

#test_answer_t2_2_s10 {
    position: absolute;
    
    top: 75.5%;
}

#test_answer_t2_3_s10 {
    position: absolute;
    
    top: 79.5%;
}

#test_answer_t3_1_s10 {
    position: absolute;
    
    top: 88.3%;
}
#test_answer_t3_2_s10 {
    position: absolute;
    
    top: 92.3%;
}


#zadanie_vypolneno_s10{
    background: transparent url('../img/png/8/zadanie_vypolneno.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 21.3%;
    top: 46.4%;
    width: 54.2%;
    height: 27.3%;
}

#zheleznak_S11 {
    background: transparent url('../img/png/11/zheleznak.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
#task_text_s12 {
    position: absolute;
    left: 5%;
    width: 94%;
    line-height: 2;
}
#zadacha_zhelezo_s12{
    background: transparent url('../img/png/11/task1.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 42.4%;
    top: 57.6%;
    width: 53.5%;
    height: 41.6%;
}
#zhelezo_s12{
    background: transparent url('../img/png/11/zheleznak.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
#table_input_1_s12 {
    position: absolute;
    left: 64.45%;
    top: 84.9%;
    width: 27.6%;
    height: 12.0%;
    font-family: "Times New Roman";
}
#bauxites_s13{
    background: transparent url('../img/png/11/bauxites.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 30.55%;
    top: 18.4%;
    width: 37.6%;
    height: 64.6%;
}

#O_s13{
    background: transparent url('../img/png/11/O.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 49.4%;
    top: 51.8%;
    width: 4.15%;
    height: 16%;
}

#Al_s13{
    background: transparent url('../img/png/11/Al.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 42.85%;
    top: 51.9%;
    width: 5.8%;
    height: 15.8%;
}

#formula_6d3e2_6d2e3{
    background: transparent url('../img/png/11/formula_6_3=2_6_2=3.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 52.3%;
    top: 71.8%;
    width: 13.55%;
    height: 4.90%;
}

#formula_3m2e6{
    background: transparent url('../img/png/11/formula_3_2=6.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 34.15%;
    top: 71.7%;
    width: 8.6%;
    height: 4.7%;
}
#formula_s14{
    background: transparent url('../img/png/11/formula.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 2.95%;
    top: 1.6%;
    width: 46.35%;
    height: 20.4%;
}
#illustrtions_s14{
    background: transparent url('../img/png/11/illustrtions.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 4.75%;
    top: 22.4%;
    width: 41.1%;
    height: 73.1%;
}


#formula_text_11_s14 {
    position: absolute;
    left: 5.50%;
    top: 49.5%;
    width: 4.45%;
    height: 6.2%;

}
#formula_text_12_s14 {
    position: absolute;
    left: 13.50%;
    top: 49.5%;
    width: 4.45%;
    height: 6.2%;

}

#formula_text_21_s14 {
    position: absolute;
    left: 30.9%;
    top: 49.5%;
    width: 4.45%;
    height: 6.2%;

}
#formula_text_22_s14 {
    position: absolute;
    left: 38.6%;
    top: 49.5%;
    width: 4.45%;
    height: 6.2%;

}

#formula_text_41_s14 {
    position: absolute;
    left: 31.0%;
    top: 87.0%;
    width: 4.45%;
    height: 6.2%;

}
#formula_text_42_s14 {
    position: absolute;
    left: 39.0%;
    top: 87.0%;
    width: 4.45%;
    height: 6.2%;

}

#formula_text_31_s14 {
    position: absolute;
    left: 5.80%;
    top: 87.5%;
    width: 4.45%;
    height: 6.2%;

}
#formula_text_32_s14 {
    position: absolute;
    left: 13.40%;
    top: 87.5%;
    width: 4.45%;
    height: 6.2%;

}

#up_4{
    background: transparent url('../img/png/11/up_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 43.75%;
    top: 51.5%;
    width: 1.55%;
    height: 2.2%;
}

#up_3{
    background: transparent url('../img/png/11/up_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 35.95%;
    top: 51.5%;
    width: 1.55%;
    height: 2.2%;
}

#down_4{
    background: transparent url('../img/png/11/down_4.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 43.75%;
    top: 58.1%;
    width: 1.55%;
    height: 2.2%;
}

#down_3{
    background: transparent url('../img/png/11/down_3.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 35.95%;
    top: 58.1%;
    width: 1.55%;
    height: 2.2%;
}

#up_2{
    background: transparent url('../img/png/11/up_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 18.35%;
    top: 51.5%;
    width: 1.55%;
    height: 2.2%;
}

#up_1{
    background: transparent url('../img/png/11/up_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10.55%;
    top: 51.5%;
    width: 1.55%;
    height: 2.2%;
}

#down_2{
    background: transparent url('../img/png/11/down_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 18.35%;
    top: 58.1%;
    width: 1.55%;
    height: 2.2%;
}

#down_1{
    background: transparent url('../img/png/11/down_1.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10.55%;
    top: 58.1%;
    width: 1.55%;
    height: 2.2%;
}

#up_8{
    background: transparent url('../img/png/11/up_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 18.65%;
    top: 89.5%;
    width: 1.55%;
    height: 2.2%;
}

#up_7{
    background: transparent url('../img/png/11/up_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10.85%;
    top: 89.5%;
    width: 1.55%;
    height: 2.2%;
}

#down_8{
    background: transparent url('../img/png/11/down_8.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 18.65%;
    top: 96.2%;
    width: 1.55%;
    height: 2.2%;
}

#down_7{
    background: transparent url('../img/png/11/down_7.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 10.85%;
    top: 96.2%;
    width: 1.55%;
    height: 2.2%;
}

#up_6{
    background: transparent url('../img/png/11/up_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 43.95%;
    top: 89.1%;
    width: 1.55%;
    height: 2.2%;
}

#up_5{
    background: transparent url('../img/png/11/up_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 36.15%;
    top: 89.1%;
    width: 1.55%;
    height: 2.2%;
}

#down_6{
    background: transparent url('../img/png/11/down_6.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 43.95%;
    top: 95.7%;
    width: 1.55%;
    height: 2.2%;
}

#down_5{
    background: transparent url('../img/png/11/down_5.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 36.15%;
    top: 95.7%;
    width: 1.55%;
    height: 2.2%;
}

#formula_number_11_s14 {
    position: absolute;
    left: 10.50%;
    top: 54.0%;
    width: 1.75%;
    
}

#formula_number_12_s14 {
    position: absolute;
    left: 18.3%;
    top: 54.0%;
    width: 1.75%;
    
}

#formula_number_21_s14 {
    position: absolute;
    left: 35.80%;
    top: 54.0%;
    width: 1.75%;
    
}

#formula_number_22_s14 {
    position: absolute;
    left: 43.6%;
    top: 54.0%;
    width: 1.75%;
    
}

#formula_number_31_s14 {
    position: absolute;
    left: 10.70%;
    top: 92.0%;
    width: 1.75%;
    
}

#formula_number_32_s14 {
    position: absolute;
    left: 18.4%;
    top: 92.0%;
    width: 1.75%;
    
}


#formula_number_41_s14 {
    position: absolute;
    left: 36.00%;
    top: 92.0%;
    width: 1.75%;
    
}

#formula_number_42_s14 {
    position: absolute;
    left: 43.8%;
    top: 92.0%;
    width: 1.75%;
    
}

.bla {
    margin: 0;
    padding: 0;
    height: 3.2%;
}
#task_text1_s8 {
    position: absolute;
    left: 16%;
    top: 47%;
    width: 72%;
    height: 36%;
}
#task_text2_s8 {
     position: absolute;
     left: 16%;
     top: 64%;
     width: 72%;
     height: 36%;
 }
.correct_s8 {
    background-color: green;
}

.incorrect_s8 {
    background-color:red;
}
#task_text3_s8 {
    position: absolute;
    left: 16%;
    top: 81%;
    width: 72%;
    height: 36%;
}

#tablica_valentnosti_s14{
    background: transparent url('../img/png/11/p14_valentnost_rus.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50.2%;
    top: 1.2%;
    width: 49.15%;
    height: 90.4%;
    z-index: 5000;
}

#helicopter1 {
    background-image: url(../img/png/2/left0.gif);
    background-size: 100% 100%;
    position: absolute;
    left: 44.75%;
    top: 18.6%;
    width: 21.7%;
    height: 19.8%;
}

.helicl1 {
    background-image: url(../img/png/2/left0.gif);
    background-size: 100% 100%;
    width: 21.7%;
    height: 19.8%;
}

.helicl2 {
    background-image: url(../img/png/2/left1.gif);
    background-size: 100% 100%;
    /*355 184*/
    width: 17.75%;
    height: 18.4%;
}

.helicl3 {
    background-image: url(../img/png/2/left2.gif);
    background-size: 100% 100%;
    /*355 184*/
    width: 17.75%;
    height: 18.4%;
}

.helicl4 {
    background-image: url(../img/png/2/back.gif);
    background-size: 100% 100%;
    /*412 138*/
    width: 20.6%;
    height: 13.8%;
}

.heli_start {
    left: 44.75%;
    top: 18.6%;
}

.heli_end {
    left: 18.85%;
    top: 38.4%;
}
#helicopter2 {
    position: absolute;
}


#stroka15_4{
    position: absolute;
    background: transparent url('../img/png/15/line4.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#stroka15_3{
    position: absolute;
    background: transparent url('../img/png/15/line3.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#stroka15_2{
    position: absolute;
    background: transparent url('../img/png/15/line2.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#stroka15_1{
    position: absolute;
    background: transparent url('../img/png/15/line1.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

#stroka15_5{
    position: absolute;
    background: transparent url('../img/png/15/line5.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.words_init_pos4_s15 {
    left: 100%;
}
.words_init_pos3_s15 {
    left: 100%;
}
.words_init_pos2_s15 {
    left: 100%;
}
.words_init_pos1_s15 {
    left: 100%;
}
.words_init_pos5_s15 {
    left: 100%;

}

.molecule_init_pos_s16 {
    top: 0%;
    left: 100%;
}

.molecule2_init_pos_s16 {
    left: 20%;
    top: 20%;
}

.mol_class1_s16 {
    background-image: url(../img/png/16/mol_before.png);
    background-size: 100% 100%;
}


.mol_class2_s16 {
    background-image: url(../img/png/16/mol_after_1.png);
    background-size: 100% 100%;
}

.mol_class3_s16 {
    background-image: url(../img/png/16/mol_after_2.png);
    background-size: 100% 100%;
}
.mol_class4_s16 {
    background-image: url(../img/png/16/mol_after_3.png);
    background-size: 100% 100%;
}
#molecule2_s16 {
    position: absolute;
    /*601 552*/
    left: 25.25%;
    top: 20%;
    width: 30.05%;
    height: 55.2%;
}
#molecule_s16 {
    position: absolute;
    /*601 552*/
    background-image: url(../img/png/16/mol_before.png);
    background-size: 100% 100%;

    width: 30.05%;
    height: 55.2%;

}
#kolchedan_s16 {
    position: absolute;

    background-image: url(../img/png/16/kocheldan.png);
    background-size: 100% 100%;

    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
#table_s16 {
    position: absolute;
    background-image: url(../img/png/16/table_mendeleev.png);
    background-size: 100% 100%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#pic_s17 {
    position: absolute;
    background-image: url(../img/png/17/picture.png);
    background-size: 100% 100%;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.black_font_color {
    color: #000000;
}
#text_container_s17 {
    position: absolute;
    display: inline;
    top: 20%;
    left: 40%;
}
#texts17_1 {
    /*position: absolute;*/
    display: inline;
}
#texts17_2 {
    /*position: absolute;*/
    display: inline;
    /*left: 50%;*/

}
#input1_s17{
    /*position: absolute;*/
    /*width: 5%;*/
    /*height: 6.6%;*/
    text-align: center;
}
#texts17_3 {
    /*position: absolute;*/
    display: inline;
    /*left: 50%;*/

}


#text_container2_s17 {
    position: absolute;
    display: inline;
    top: 50%;
    left: 40%;
}
#texts2_17_1 {
    /*position: absolute;*/
    display: inline;
}
#texts2_17_2 {
    display: inline;
}
#input2_1_s17{
    /*position: absolute;*/
    width: 5%;
    height: 6.6%;
    text-align: center;
}
#texts2_17_3 {
    /*position: absolute;*/
    display: inline;
    /*left: 50%;*/

}


#text_container3_s17 {
    position: absolute;
    display: inline;
    top: 80%;
    left: 40%;
}

#texts3_17_1, #texts31_17_2, #texts32_17_2, #texts33_17_2, #texts34_17_2,
#texts35_17_2, #texts311_17_3, #texts312_17_3, #texts313_17_3, #texts314_17_3{
    display: inline;
}

#input31_s17{
    text-align: center;
}
#input32_s17{
    text-align: center;
}
#input33_s17{
    text-align: center;
}
#input34_s17{
    text-align: center;
}
#input35_s17{
    text-align: center;
}

.classOfThirdInputAndTexts {

}


.size_t7 {
    top: 18%;
}

#t7t1 {
    position: absolute;
    left: 23%;
}
#t7t2 {
    position: absolute;
    left: 33%;
}
#t7t3 {
    position: absolute;
    left: 45%;
}
#t7t4 {
    position: absolute;
    left: 58.5%;
}
#t7t5 {
    position: absolute;
    left: 72%;
}

.lamp_usual {
    background: transparent url('../img/png/4/icon.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.lamp_svet {
    background: transparent url('../img/png/4/icon_light.png') 0 0 no-repeat;
    background-size: 100% 100%;
}

#lampochka_s7{
    position: absolute;
    left: 88.65%;
    top: 73.6%;
    width: 11.35%;
    height: 24%;
}
#lampochka_s14{
    position: absolute;
    left: 78.65%;
    top: 73.6%;
    width: 11.35%;
    height: 24%;
}
#lampochka{
    position: absolute;
    left: 88.65%;
    top: 73.6%;
    width: 11.35%;
    height: 24%;
}

#lampochka_s17{
    position: absolute;
    left: 89.65%;
    top: 73.6%;
    width: 11.35%;
    height: 24%;
}

#box_0{
    background: transparent url('../img/png/0titulka/box.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 57.25%;
    top: 71.2%;
    width: 44.1%;
    height: 29.7%;
}

#symbols_0{
    background: transparent url('../img/png/0titulka/symbols.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 14.25%;
    top: 7.3%;
    width: 71.95%;
    height: 75.9%;
}
#right_answer_s10 {
    position: absolute;
    background: transparent url('../img/png/8/pravilnye_otvety.png') 0 0 no-repeat;
    background-size: 100% 100%;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}


.icon_pos_init {
    left: 50.05%;
    top: 50.2%;
}

.icon_pos_1 {
    left: 91.05%;
    top: 4.2%;
}
.icon_pos_2 {
    left: 91.05%;
    top: 21.2%;
}
.icon_pos_3 {
    left: 91.05%;
    top: 38.2%;
}
.icon_pos_4 {
    left: 91.05%;
    top: 56.2%;
}
.icon_pos_5 {
    left: 91.05%;
    top: 73.2%;
}
.z_index_2000 {
    z-index: 2000;
}
#aktobe_icon1{
    background: transparent url('../img/icons/aktobe_icon.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 8.10%;
    height: 16.2%;
    z-index: 1000;
}
#aktobe_icon2{
    background: transparent url('../img/icons/aktobe_icon.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 8.10%;
    height: 16.2%;
    z-index: 1000;
}
#aktobe_icon3{
    background: transparent url('../img/icons/vostochnyi_kaz_icon.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 8.10%;
    height: 16.2%;
    z-index: 1000;
}
#aktobe_icon4{
    background: transparent url('../img/icons/kostanay_icon.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 8.10%;
    height: 16.2%;
    z-index: 1000;
}

/*==============================================================*/
.lights {
    background: transparent url('../img/png/8/light.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
#Pb_light{
    position: absolute;
    left: 17.8%;
    top: 4.5%;
    width: 16.1%;
    height: 31.3%;
}

#Zn_light{
    position: absolute;
    left: 33.25%;
    top: 4.7%;
    width: 11%;
    height: 26.2%;
}

#Cu_light{
    position: absolute;
    left: 45.95%;
    top: 4.6%;
    width: 10.95%;
    height: 26.2%;
}

#Au_light{
    position: absolute;
    left: 58.05%;
    top: 4.6%;
    width: 11.1%;
    height: 26.3%;
}

#Ag_light{
    position: absolute;
    left: 70%;
    top: 4.6%;
    width: 11.2%;
    height: 26.1%;
}

#Cd_light{
    position: absolute;
    left: 20.3%;
    top: 31.1%;
    width: 11.1%;
    height: 26.4%;
}

#Bi_light{
    position: absolute;
    left: 33.45%;
    top: 31.2%;
    width: 11.05%;
    height: 26.1%;
}

#Sn_light{
    position: absolute;
    left: 46.15%;
    top: 31.2%;
    width: 11%;
    height: 26%;
}

#In_light{
    position: absolute;
    left: 58%;
    top: 31.3%;
    width: 10.95%;
    height: 25.8%;
}

#Ta_light{
    position: absolute;
    left: 70.05%;
    top: 31.2%;
    width: 11%;
    height: 26.1%;
}

#sprite1_S13 {
    background: transparent url('../img/png/11/sprite_1.png') 0 0 no-repeat;
    background-size: 1200% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#sprite2_S13 {
    background: transparent url('../img/png/11/sprite_2.png') 0 0 no-repeat;
    background-size: 1000% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#sprite3_S13 {
    background: transparent url('../img/png/11/sprite_3.png') 0 0 no-repeat;
    background-size: 800% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#sprite4_S13 {
    background: transparent url('../img/png/11/sprite_4.png') 0 0 no-repeat;
    background-size: 600% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#heli1 {
    background: transparent url('../img/png/heli/1akmola-aktobe.png') 0 0 no-repeat;
    background-size: 1200% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
#heli2 {
    background: transparent url('../img/png/heli/4kostanai-karagandy.png') 0 0 no-repeat;
    background-size: 1200% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#Al_O_s13 {
    background: transparent url('../img/png/11/Al_O_.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
#f2_s13 {
    background: transparent url('../img/png/11/Al_O_.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}
#f3_s13 {
    background: transparent url('../img/png/11/Al_O_.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
}

/*nnew changes*/