.bg2_zast {
    background: transparent url('../img/png/0titulka/bg2_zast.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.bg2{
    background: transparent url('../img/png/19/pole/BG_2.png') 0 0 no-repeat;
    background-size: 100% 100%;
}
.tur_inputs {
	color: white;
	background-color: black;
}
#pole_chudes{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

#wheel {
    position: absolute;
    left: 4%;
    top: 18%;

    background: transparent url('../img/png/19/pole/sprite2.png') 0 0 no-repeat;
    background-size: 300% 100%;

    /*1863 */
    width: 31.05%;
    height: 73.0%;
}

#tur_number {
    position: absolute;
    left: 45%;
    top: 5.5%;

    width: 20%;
    height: 7%;

    line-height: 2;

    text-align: center;
}

#marks_pole {
    position: absolute;
    left: 75%;
    top: 5.5%;

    width: 20%;
    height: 7%;

    line-height: 2;

    text-align: center;
}

#white_cells {
    background: transparent url('../img/png/19/pole/white_cells_new.png') 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 41.65%;
    top: 32%;
    width: 28.65%;
    height: 30.9%;
}

#disable_letters {
    position: absolute;
    left: 41.5%;
    top: 33%;
    /*578 388*/
    width: 28.9%;
    height: 38.8%;
}

#tick {
    position: absolute;
    background: transparent url('../img/png/19/pole/green_tick.png') 0 0 no-repeat;
    background-size: 100% 100%;
    left: 53%;
    top: 15%;
    width: 7.25%;
    height: 13.9%;
}
.red_button_pressed {
    background: transparent url('../img/png/19/pole/red_button.png') 0 0 no-repeat;
    background-size: 100% 100%;
    /*183 178*/
    width: 9.25%;
    height: 17.8%;
}

.red_button_active {
    background: transparent url('../img/png/19/pole/red_button_pressed.png') 0 0 no-repeat;
    background-size: 100% 100%;
    /*176 178*/
    width: 8.8%;
    height: 17.8%;
}
.letter_width {
    /*width: 1.75%;*/
    /*height: 4.5%;*/
    width: 1.85%;
    height: 4.8%;
}
#red_button {
    position: absolute;
    left: 32%;
    top: 21%;
}
#tur1letter1 {
    position: absolute;
}
#tur1letter2 {
    position: absolute;
}
#tur1letter3 {
    position: absolute;
}
#tur1letter4 {
    position: absolute;
}
#tur1letter5 {
    position: absolute;
}
#tur1letter6 {
    position: absolute;
}
#tur1letter7 {
    position: absolute;
}
#tur1letter8 {
    position: absolute;
}
#tur1letter9 {
    position: absolute;
}
/*tur 2 letters */
#tur2letter1 {
    position: absolute;
}
#tur2letter2 {
    position: absolute;
}
#tur2letter3 {
    position: absolute;
}
#tur2letter4 {
    position: absolute;
}
#tur2letter5 {
    position: absolute;
}
#tur2letter6 {
    position: absolute;
}
#tur2letter7 {
    position: absolute;
}
#tur2letter8 {
    position: absolute;
}
#tur2letter9 {
    position: absolute;
}
#tur2letter10 {
    position: absolute;
}
#tur2letter11 {
    position: absolute;
}

#tur2letter12 {
    position: absolute;
}
#tur2letter13 {
    position: absolute;
}
/*tur 1  positions of cards*/
.cards_animation {
    background: transparent url('../img/png/19/pole/cell_sprite.png') 0 0 no-repeat;
    background-size: 500% 100%;
    width: 2.25%;
    height: 7.2%;
}

#tur1cardsletter1 {
    position: absolute;
}
#tur1cardsletter2 {
    position: absolute;
}
#tur1cardsletter3 {
    position: absolute;
}
#tur1cardsletter4 {
    position: absolute;
}
#tur1cardsletter5 {
    position: absolute;
}
#tur1cardsletter6 {
    position: absolute;
}
#tur1cardsletter7 {
    position: absolute;
}
#tur1cardsletter8 {
    position: absolute;
}
#tur1cardsletter9 {
    position: absolute;
}

 /*tur 2 cards letter*/
#tur2cardsletter1 {
    position: absolute;
}
#tur2cardsletter2 {
    position: absolute;
}
#tur2cardsletter3 {
    position: absolute;
}
#tur2cardsletter4 {
    position: absolute;
}
#tur2cardsletter5 {
    position: absolute;
}
#tur2cardsletter6 {
    position: absolute;
}
#tur2cardsletter7 {
    position: absolute;
}
#tur2cardsletter8 {
    position: absolute;
}
#tur2cardsletter9 {
    position: absolute;
}
#tur2cardsletter10{
    position: absolute;
}
#tur2cardsletter11{
    position: absolute;
}
#tur2cardsletter12{
    position: absolute;
}
#tur2cardsletter13{
    position: absolute;
}

/*text*/
#tur1cardslettertext1 {
    position: absolute;
}
#tur1cardslettertext2 {
}
#tur1cardslettertext3 {

}
#tur1cardslettertext4 {

}
#tur1cardslettertext5 {

}
#tur1cardslettertext6 {

}
#tur1cardslettertext7 {

}
#tur1cardslettertext8 {

}
#tur1cardslettertext9 {
}

/*tur 2 cards letter text*/
#tur2cardslettertext1 {

}
#tur2cardslettertext2 {

}
#tur2cardslettertext3 {


}
#tur2cardslettertext4 {

}
#tur2cardslettertext5 {


}
#tur2cardslettertext6 {


}
#tur2cardslettertext7 {

}
#tur2cardslettertext8 {

}
#tur2cardslettertext9 {

}
#tur2cardslettertext10{
}
#tur2cardslettertext11{
}
#tur2cardslettertext12{
}
#tur2cardslettertext13 {
}

#task_pole {
    position: absolute;
    left: 74%;
    top: 28%;
    width: 22%;
}

#hint_pole1 {
    position: absolute;
    left: 44%;
    top: 85%;
    width: 25%;
    text-align: center;
}
#hint_pole2 {
    position: absolute;
    left: 44%;
    top: 85%;
    width: 25%;
    text-align: center;
}
#hint_pole3 {
    position: absolute;
    left: 44%;
    top: 85%;
    width: 25%;
    text-align: center;
}
#hint_pole4 {
    position: absolute;
    left: 44%;
    top: 85%;
    width: 25%;
    text-align: center;
}

.cell_4_12{
    
    
    position: absolute;
    left: 68.05%;
    top: 56.9%;
    
    
}

.cell_4_11{
    
    
    position: absolute;
    left: 65.65%;
    top: 56.9%;
    
    
}

.cell_4_10{
    
    
    position: absolute;
    left: 63.25%;
    top: 56.9%;
    
    
}

.cell_4_9{
    
    
    position: absolute;
    left: 60.85%;
    top: 56.9%;
    
    
}

.cell_4_8{
    
    
    position: absolute;
    left: 58.45%;
    top: 56.9%;
    
    
}

.cell_4_7{
    
    
    position: absolute;
    left: 56.05%;
    top: 56.9%;
    
    
}

.cell_4_6{
    
    
    position: absolute;
    left: 53.65%;
    top: 56.9%;
    
    
}

.cell_4_5{
    
    
    position: absolute;
    left: 51.25%;
    top: 56.9%;
    
    
}

.cell_4_4{
    
    
    position: absolute;
    left: 48.85%;
    top: 56.9%;
    
    
}

.cell_4_3{
    
    
    position: absolute;
    left: 46.45%;
    top: 56.9%;
    
    
}

.cell_4_2{
    
    
    position: absolute;
    left: 44.05%;
    top: 56.9%;
    
    
}

.cell_4_1{
    
    
    position: absolute;
    left: 41.65%;
    top: 56.9%;
    
    
}

.cell_3_12{
    
    
    position: absolute;
    left: 68.05%;
    top: 48.6%;
    
    
}

.cell_3_11{
    
    
    position: absolute;
    left: 65.65%;
    top: 48.6%;
    
    
}

.cell_3_10{
    
    
    position: absolute;
    left: 63.25%;
    top: 48.6%;
    
    
}

.cell_3_9{
    
    
    position: absolute;
    left: 60.85%;
    top: 48.6%;
    
    
}

.cell_3_8{
    
    
    position: absolute;
    left: 58.45%;
    top: 48.6%;
    
    
}

.cell_3_7{
    
    
    position: absolute;
    left: 56.05%;
    top: 48.6%;
    
    
}

.cell_3_6{
    
    
    position: absolute;
    left: 53.65%;
    top: 48.6%;
    
    
}

.cell_3_5{
    
    
    position: absolute;
    left: 51.25%;
    top: 48.6%;
    
    
}

.cell_3_4{
    
    
    position: absolute;
    left: 48.85%;
    top: 48.6%;
    
    
}

.cell_3_3{
    
    
    position: absolute;
    left: 46.45%;
    top: 48.6%;
    
    
}

.cell_3_2{
    
    
    position: absolute;
    left: 44.05%;
    top: 48.6%;
    
    
}

.cell_3_1{
    
    
    position: absolute;
    left: 41.65%;
    top: 48.6%;
    
    
}

.cell_2_12{
    
    
    position: absolute;
    left: 68.05%;
    top: 40.3%;
    
    
}

.cell_2_11{
    
    
    position: absolute;
    left: 65.65%;
    top: 40.3%;
    
    
}

.cell_2_10{
    
    
    position: absolute;
    left: 63.25%;
    top: 40.3%;
    
    
}

.cell_2_9{
    
    
    position: absolute;
    left: 60.85%;
    top: 40.3%;
    
    
}

.cell_2_8{
    
    
    position: absolute;
    left: 58.45%;
    top: 40.3%;
    
    
}

.cell_2_7{
    
    
    position: absolute;
    left: 56.05%;
    top: 40.3%;
    
    
}

.cell_2_6{
    
    
    position: absolute;
    left: 53.65%;
    top: 40.3%;
    
    
}

.cell_2_5{
    
    
    position: absolute;
    left: 51.25%;
    top: 40.3%;
    
    
}

.cell_2_4{
    
    
    position: absolute;
    left: 48.85%;
    top: 40.3%;
    
    
}

.cell_2_3{
    
    
    position: absolute;
    left: 46.45%;
    top: 40.3%;
    
    
}

.cell_2_2{
    
    
    position: absolute;
    left: 44.05%;
    top: 40.3%;
    
    
}

.cell_2_1{
    
    
    position: absolute;
    left: 41.65%;
    top: 40.3%;
    
    
}

.cell_1_12{
    
    
    position: absolute;
    left: 68.05%;
    top: 32%;
    
    
}

.cell_1_11{
    
    
    position: absolute;
    left: 65.65%;
    top: 32%;
    
    
}

.cell_1_10{
    
    
    position: absolute;
    left: 63.25%;
    top: 32%;
    
    
}

.cell_1_9{
    
    
    position: absolute;
    left: 60.85%;
    top: 32%;
    
    
}

.cell_1_8{
    
    
    position: absolute;
    left: 58.45%;
    top: 32%;
    
    
}

.cell_1_7{
    
    
    position: absolute;
    left: 56.05%;
    top: 32%;
    
    
}

.cell_1_6{
    
    
    position: absolute;
    left: 53.65%;
    top: 32%;
    
    
}

.cell_1_5{
    
    
    position: absolute;
    left: 51.25%;
    top: 32%;
    
    
}

.cell_1_4{
    
    
    position: absolute;
    left: 48.85%;
    top: 32%;
    
    
}

.cell_1_3{
    
    
    position: absolute;
    left: 46.45%;
    top: 32%;
    
    
}

.cell_1_2{
    
    
    position: absolute;
    left: 44.05%;
    top: 32%;
    
    
}

.cell_1_1{
    
    
    position: absolute;
    left: 41.65%;
    top: 32%;
    
    
}

.cards_3_12{


    position: absolute;
    left: 68.05%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_11{


    position: absolute;
    left: 65.65%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_10{


    position: absolute;
    left: 63.25%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_9{


    position: absolute;
    left: 60.85%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_8{


    position: absolute;
    left: 58.45%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_7{


    position: absolute;
    left: 56.05%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_6{


    position: absolute;
    left: 53.65%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_5{


    position: absolute;
    left: 51.25%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_4{


    position: absolute;
    left: 48.85%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_3{


    position: absolute;
    left: 46.45%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_2{


    position: absolute;
    left: 44.05%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_3_1{


    position: absolute;
    left: 41.65%;
    top: 47.8%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_12{


    position: absolute;
    left: 68.05%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_11{


    position: absolute;
    left: 65.65%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_10{


    position: absolute;
    left: 63.25%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_9{


    position: absolute;
    left: 60.85%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_8{


    position: absolute;
    left: 58.45%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_7{


    position: absolute;
    left: 56.05%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_6{


    position: absolute;
    left: 53.65%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_5{


    position: absolute;
    left: 51.25%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_4{


    position: absolute;
    left: 48.85%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_3{
    position: absolute;
    left: 46.45%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_2{
    position: absolute;
    left: 44.05%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}

.cards_2_1{
    position: absolute;
    left: 41.65%;
    top: 39.5%;
    width: 2.25%;
    height: 7.2%;
}